[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
environ = "*"
numpy = "*"
pandas = "*"
random = "*"

[requires]
python_version = "3.7"
